<app-nav> </app-nav>

<br> <br><br> <br>



  <div class="bodydiv">
<section id="about">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 text-center m-t">
              <h2 class="text-uppercase">ABOUT</h2>
              <h3 class="section-subheading"></h3>
          </div>
      </div>
      <div class="row fadeInDown" >
          <div class="col-lg-12">
              <ul class="list-group timeline">
                  <li class="list-group-item seds fadeIn first  ">
                      <div class="timeline-image"></div>
                      <div class="timeline-panel" data-aos="zoom-in" >
                          <div class="timeline-heading" data-aos="fade-down-right">
                              <h4> What is SEDS?</h4>
                              <h4 class="subheading ">Students for the Exploration and Development of Space. </h4>
                          </div>
                          <div class="timeline-body">
                              <p class="lead mb-0"> Students for the Exploration and Development of Space (SEDS) is a 501(c)3 non-profit that empowers young people to participate and make an impact in space exploration.

                                SEDS helps students develop their technical and leadership skills by providing opportunities to manage and participate in national projects as well as to attend conferences, publish their work, and develop their professional network, in order to help students become more effective in their present and future careers in industry, academia, government, and education.

                                SEDS was founded as a chapter-based organization in 1980 at MIT by Peter Diamandis, at Princeton University by Scott Scharfman, and at Yale University by Richard Sorkin. SEDS-USA was founded as a national group in 1982 by Peter Diamandis, Bob Richards, and Todd Hawley.

                                The largest student-run space organization in the world, it consists of an international community of high school, undergraduate, and graduate students from a diverse range of educational backgrounds in chapters all over the world, including Canada, India, Israel, Mexico, Nepal, Nigeria, Philippines, Spain, United Kingdom, and United States.</p>
                          </div>
                      </div>
                  </li>
                  <li class="list-group-item timeline-inverted vision m-t fadeIn second">
                      <div class="timeline-image"></div>
                      <div class="timeline-panel" data-aos="zoom-out">
                          <div class="timeline-heading">
                              <h4>Our Vision</h4>
                              <h4 class="subheading"></h4>
                          </div>
                          <div class="timeline-body">
                              <p class="lead mb-0">Bringing together students of many disciplines from all corners of the country to celebrate student shared passion for all things about space.</p>
                          </div>
                      </div>
                  </li>
                  <li class="list-group-item obj m-t fadeIn third">
                      <div class="timeline-image"></div>
                      <div class="timeline-panel" data-aos="zoom-out">
                          <div class="timeline-heading">
                              <h4>Objectives</h4>
                              <h4 class="subheading"></h4>
                          </div>
                          <div class="timeline-body">
                              <p class="lead mb-0"> Educate Sri Lankans about the benefits of Space .<br>
                                 Provide a massive opportunity for members to develop their technical and leadership skills .<br>
                                 Granting opportunities for SEDS members to manage and participate in national and international projects as well as to attend conferences, publish their work, develop their professional network, in order to become more effective in their present and future careers in industry , academia, government and education.</p>
                          </div>
                      </div>
                  </li>
                  <li class="list-group-item timeline-inverted general m-t m-b fadeIn fourth">
                      <div class="timeline-image"></div>
                      <div class="timeline-panel" data-aos="fade-up" >
                          <div class="timeline-heading" data-aos="fade-right">
                              <h4>General Information</h4>
                              <h4 class="subheading"></h4>
                          </div>
                          <div class="timeline-body">
                              <p class="lead mb-0">SEDS Sri Lanka has been recently started on 1st of September in 2018 by the student named Amila Sandun Basnayaka.
                                This international based organization mainly focuses on Aviation & Aerospace industry. SEDS is organized by country, region, and chapter. There is a large contingent of SEDS chapters in the United States, which are governed regionally and nationally by SEDS-USA. SEDS India has nine SEDS chapters under it and is headquartered at VIT University. SEDS-Canada and UKSEDS, and student leaders of the international groups convene as SEDS-Earth, the global governing body of SEDS.
                                We are a unique organization run entirely by students and young professional volunteers, and we have a unique insight into the Sri Lanka space sector from a student perspective, using our expertise and data to advocate for development of the space skills pipeline.</p>
                          </div>
                      </div>
                  </li>
               <!--    <li class="list-group-item timeline-inverted">
                      <div class="timeline-image">
                          <h4></h4>
                      </div>
                  </li>-->
              </ul>
          </div>
      </div>
  </div>
</section>
<br><br>
</div>
