<app-nav> </app-nav>

<br><br><br><br>





<div class="cardcolour">

  <div class="container">
    <div class="row">






      <div class="col-sm-12 p-b cardcolour">

        <div class="col-lg-12 text-center m-t">
          <h2 class="text-uppercase section-heading text-white padding-t ">HOW WE CONNECT TO THE OCEAN…</h2>
          <h3 class="section-subheading text-white   "></h3><br>
        </div>

        <div class="folded-corner service_tab_1">
          <header class="rich-header">  
              <h2>“It's like a spider's web. If you tap one end, the whole
                thing starts to shake. And that's exactly what
                our life is like. We're so interconnected. Every species, every plant, every piece of soil or grass."
              </h2>
              <span>Dr. Asha De Vos</span>
              <img class="rounded-circle mx-auto" src="assets/images/asha1.jpg">
          </header>

          <div class="text p-t p-b col-lg-11">

            <h2 class="align-middle text-white"></h2>
            <p class="rich-paragraph"> ISLE Project related to the Earth Science sector is implemented under the full
              supervision and guidance of
              the Biomedical and Earth Science division. Earth and Ocean Sciences spans virtually all aspects of
              understanding the history and dynamics of our planet and how to best manage its resources and the
              environment we live in. Even though the ocean covers approximately 70% of Earth’s surface, plays a
              critical role in supporting life on our planet, from the air we breathe, the food we eat to weather and
              climate
              patterns, our understanding of the ocean remains limited.
            </p>

            <p class="rich-paragraph"> Ocean exploration is about making discoveries, searching for things that are unusual
              and unexpected. As
              the first step in the scientific process, the rigorous observations and documentation of biological,
              chemical,
              physical, geological, and archaeological aspects of the ocean gained from exploration set the stage for
              future
              research and decision-making.
            </p>

            <p class="rich-paragraph">Through this project, we collect data and information needed to address both emerging
              science and
              management needs. Exploration helps to ensure that ocean resources are not just managed but managed
              sustainably, so those resources are around for future generations to enjoy </p>

            <p class="rich-paragraph">Unlocking the mysteries of ocean ecosystems can reveal new sources for medical
              therapies and vaccines,
              food, energy, and more inspiring inventions that mimic adaptations of deep-sea animals. Information from
              ocean exploration can help us understand how we are being affected by changes in Earth’s environment,
              including changes in weather and climate. Insights from ocean exploration can help us better understand
              and respond to earthquakes, tsunamis, and other hazards.</p>

            <p class="rich-paragraph"> The challenges met while exploring the ocean can provide the impetus for new
              technologies and
              engineering innovations that can be applied in other situations, allowing us to respond more effectively
              in
              the face of an ocean crisis, such as an oil spill. And, ocean exploration can improve ocean literacy and
              inspire young people to seek critical careers in science, technology, engineering, and mathematics.</p>

            <p class="rich-paragraph">There is a strong connection between ocean and space exploration, both in terms of
              technology and the
              spirit of discovery. Collecting and analyzing long-term ocean data from satellites is a relatively new
              field
              of study. The analysis of remotely-sensed ocean data makes it possible to understand the ocean in new and
              exciting ways. That’s why our SEDS volunteers, campaigners, lawyers, data specialists, fundraisers, and
              divers are interested in building a sustainable future in our sea.</p>


            <br>


            <div class="text float-left">


            </div>
          </div>

          <div class="text p-t p-b col-lg-11">
            <div class="text-center" data-aos="zoom-out">
              <h3 class="section-subheading text-white">UNDERWATER MONITORING &
                RESEARCH PROJECT
              </h3><br>
              <img class=" img img-fluid  mx-auto p-b" src="assets/images/uwdesc1.png"> <br>
              <img class=" img img-fluid  mx-auto p-b" src="assets/images/uwdesc2.png"> <br>
              <img class=" img img-fluid  mx-auto p-b" src="assets/images/uwdesc3.png">
              <img class=" img img-fluid  mx-auto p-b" src="assets/images/uwdesc4.png">
            </div>
          </div>

        </div>
        
      </div>
      
    </div>
    
  </div>
  
</div>