<app-nav> </app-nav>
<br><br><br><br>
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1  m-t">
                    CONTACT US <br> <small>We'd love to hear from you.</small></h1>
            </div>
        </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row">
       
        <div class="col-md-4">
  
  
          <form>
            <legend><span class="glyphicon glyphicon-globe"></span></legend>
  
            <address>
                <strong>E-mail us</strong><br>
                <a href="mailto:info@sedssl.lk">info@sedssl.lk</a><br>
                <p></p>
            </address>
            </form>
  
  
        </div>
    </div>
  </div>
  
