<app-nav> </app-nav>
<br><br><br> <br>
<body>  
  <br> 
 
<h1 class="text-white text-center"> Click to start... </h1>
<p class="rich-paragraph"> Make a sound to your mic and you will see how the spectrogram is created. <br> <br>
  We hope to make the common choice of treating audio event detection as an image classification problem,where the image is a spectrogram — a histogram of sound power plotted on time-frequency axes.
<br>Using this method we are planning to identify 12 different species of marine mammals in the area of Mirissa, Sri Lanka.
<br> <br>The results of this research will provide new and important information about whale and dolphin presence, seasonality, daily calling behavior, and population structure in Sri Lanka. This is especially important in finding details about whales and dolphins, which scientists have had no information about until now. Additionally, because the dataset spans a considerable time, knowing when and where whales and dolphins are calling will provide information on whether or not the animals have changed their distribution over time, especially in relation to increasing human ocean activity. That information will be a key ingredient for effective mitigation of anthropogenic impacts on whales and dolphins.  
<br> <br> SCROLL TO THE BOTTOM OF THE PAGE FOR A FULL VIEW !!! CLICK TO START
</p>

<div class="row">

  
<div class="col-md-12">
  <canvas></canvas>
 </div>
</div>
</body>
